*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;

}
.item{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 200px;
    min-height: 350px;
}
.item img{
    margin-top: 20px;
    width: 200px;
    height: 140px;
    box-shadow: 0 0 20px rgb(166, 214, 223);
    border-radius: 4px;
}
.item > h2{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 54px;
    /* margin: 12px 0 0 0; */
    
}
.country{
    color: rgb(66, 149, 226);
    margin: 12px 0;
}
.image{
    width: 150px;
    height: 220px;
}
span{
    color: red;
}
